---
import Layout from "../layouts/Layout.astro";
import Tittle from "../components/Tittle.astro";
import Seccion from "../components/Seccion.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Tittle
      title="Piano Clásico y Percusión sinfónica"
      subtitle="Conservatorio Plurinacional de Música"
    />
    <Seccion title="Descripción" description="Sean bienvenidos a nuestra página del área de Piano y Percusión Sinfónica del Conservatorio Plurinacional de Música. Esperamos éste espacio nos una y nos ayude a la formación integral de nuestra comunidad" />
  </main>
</Layout>
